<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>

    <!--links to the tailwindcss main output file in the 'public/stylesheet/' folder-->
    <link rel="stylesheet" href="/css/main.css">

    <script src="/scripts/navbarmenu.js"></script>

    <!--this will render any more scripts necessary, these scripts will be defined in the view specific controllers-->
    <% if (typeof scripts != 'undefined') { %>
        <% scripts.forEach(element => { %>
            <script src="<%= element%>" type="text/javascript"></script>
        <% }) %>
    <% } %>

</head>
<body class="bg-[#dcdcdc] scrollbar-thin scrollbar-track-[#1f1e1e] scrollbar-thumb-red-600 font-sans">
    <div class="min-h-[calc(100vh-100px)]">

        <% if (loggedIn.length === 0) { %>
            <%- include('partials/header', {header : 'default'}) %>
        <% } else { %>
            <%- include('partials/header', {header : loggedIn[0], user_id : loggedIn[1]}) %>
        <% } %>

        <!--go back-->
        <% if (typeof goBack != 'undefined') { %>
            <div class="pl-[20px] border-l-[1px] mb-[10px] border-gray-50"><a href="<%- goBack.link %>" class="text-[20px] hover:border-b-[2px] hover:border-red-600">&larr; back to <%- goBack.title%></a></div>
        <% } %>

        <!--main section of the page-->
        <%- body %>

    </div>

    <%- include('partials/footer') %>

    <%- include('content/popupflash') %>
</body>
</html>