<!DOCTYPE html>
<html lang="en">
    <% if (typeof loggedIn === 'undefined') { %>
        <head>
            <title><%- title %></title>
            <link rel="stylesheet" href="/css/main.css">
        </head>
        <body class="bg-gray-100">
            <%- body %>
            <div class="mt-[20px] pl-[20px] text-center"><a href="/" class="text-gray-500 hover:text-gray-700 text-[20px] w-full">Go back to home page</a></div>
        </body>
    <% } else { %>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title><%- title %></title>
            <link rel="stylesheet" href="/css/main.css">
            <script src="/scripts/navbarmenu.js"></script>
        
            <% if (typeof scripts != 'undefined') { %>
                <% scripts.forEach(element => { %>
                    <script src="<%= element%>" type="text/javascript"></script>
                <% }) %>
            <% } %>
        
        </head>
        <body class="bg-[#0f0f0f] scrollbar-thin scrollbar-track-black scrollbar-thumb-[#101010] font-sans flex flex-col min-h-[100vh] overflow-x-hidden">
        
            <% if (loggedIn.length === 0) { %>
                <%- include('partials/header', {header : 'default'}) %>
            <% } else { %>
                <%- include('partials/header', {header : loggedIn[0], username : loggedIn[1]}) %>
            <% } %>
    
            <% if (typeof goBack != 'undefined') { %>
                <div class="ml-[20px] mt-[10px] mb-[10px] text-white"><a href="<%- goBack.link %>" class="text-[20px] hover:border-b-[2px] hover:border-red-600">&larr; back to <%- goBack.title%></a></div>
            <% } %>
    
            <%- body %>

            <%- include('partials/footer') %>
        
            <%- include('content/popupflash') %>
        </body>
    <% } %>
</html>