<main class="w-auto mx-4">

    <!--<% if (typeof cat != 'undefined') { %>
        <div class="w-full flex justify-center">
            <div class="w-[500px] bg-white px-[10px] flex flex-row items-center rounded-lg shadow-lg shadow-black">
                <div class="w-[200px]">Search by Category</div>
                <form action="/browse" method="post" class="w-full pl-[10px] flex flex-row items-center">
                    <div class="bordergradient w-full h-[50px] my-[10px] overflow-hidden">
                        <select name="category" class="formfield w-full h-[43px]" required>
                            <option value="">Select a Category</option>
                            <% cat.forEach(element => { %>
                                <option value="<%- element.category_id %>;;<%- element.category_name %>"><%- element.alt_name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <button class="w-fit style1button h-[40px] px-[15px] ml-[10px]">Search</button>
                </form>
            </div>
        </div>
    <% } %>-->
    

    <% if (typeof search != 'undefined') { %>
        <input type="hidden" value="<%- text %>" id="searchQ">
        <h1 class="m-[10px] text-[20px]" id="search"><%= search%> Products Found</h1>
    <% } %>


    <!--LIST OF browse-->
    <div class="flex flex-row my-[30px] justify-center flex-wrap">
        <% products.forEach(element => { %>
            <a href="/item?id=<%= element.product_id%>">
                <div class="bordergradient shadow-lg w-[420px] h-[180px] overflow-hidden mr-[20px] mb-[20px]">
                    <div class="bg-white w-full h-[170px] flex flex-row">
                        <div class="w-[140px] h-[170px] flex justify-center items-center border-r-[1px] border-gray-200">
                            <div class="w-[120px] h-[120px]">
                                <img src="<%= element.product_image%>">
                            </div>
                        </div>
                        <div class="w-[270px] pl-[10px] pt-[5px] h-[170px] flex flex-col">
                            <div class="w-full line-clamp-2 text-[20px]" id="prodName"><%= element.product_name%></div>
                            <div class="w-full mt-[10px] pt-[10px] text-[20px] border-t-[1px] border-gray-200">&#8377; <%= element.unit_price%></div>
                            <div class="w-full text-[15px]">
                                <% if (element.total_stock > 5) { %>
                                    <span class="text-green-700">Instock</span>
                                <% } else if (element.total_stock > 0) { %>
                                    <span class="text-orange-600">Stock Left: <%= element.total_stock%></span>
                                <% } else { %>
                                <span class="text-red-600">Out of Stock</span>
                                <% } %>
                            </div>
                            <div class="w-full text-[15px] text-gray-600">Sold by <%= element.organization_name%></div>
                        </div>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>

    <!--LIST OF browse END-->


</main>
