<main class="w-full text-white">
    <div class="relative bg-black">
        <div class="w-full flex flex-col justify-center items-center relative @1290:pt-[20px]">
            <img src="/images/navbar/transparent-logo.png" alt="logo" draggable="false" class="@1290:hidden py-[20px]">
            <div class="w-[500px] text-center text-[22px] text-red-600 font-bold absolute top-[140px] left-[200px] cursor-default select-none @1290:static @500:w-[400px] @500:px-[5px]">Elevate Your Build, Simplify Your Upgrade: Your Trusted Source for Quality PC Components.</div>
        </div>
        <div class="w-full -1290:hidden flex flex-row justify-center items-center pt-[20px]">
            <img src="/images/navbar/pcs-logo.png" alt="logo" class="h-[100px]">
            <div class="ml-[10px] text-[25px] font-bold -650:hidden @500:text-[20px]">PC<br>Components<br>Shopping</div>
        </div>
        <div class="w-full absolute top-[220px] @1290:static p-[20px]">
            <form action="/search" method="get" autocomplete="off" class="w-full flex justify-center">
                <div class="w-[700px] flex flex-row h-[50px] shadow-lg shadow-black">
                    <input type="text" class="w-full p-[10px] pl-[20px] placeholder:text-[#aeacac] focus:outline-none truncate bg-gradient-to-r from-[#1e1e1e] via-[#191919] to-[#111111]" placeholder="Search for a product..." name="s" required id="prodQuery">
                    <button type="submit" class="w-fit px-[20px] py-[10px] bg-red-700 text-white hover:bg-red-800 flex justify-center items-center" id="srchbtn">Search</button>
                </div>
            </form>
        </div>
        <div class="bg-[#F6F6F6] flex flex-col text-black px-[10px] py-[20px]">
            <div class="text-[25px] flex flex-col mb-[20px] px-[20px]">
                Browse
                <div class="w-[60px] h-[4px] bg-red-700"></div>
            </div>
            <% products.forEach(product => { %>
                <div class="flex flex-col select-none">
                    <div class="flex flex-row my-[10px] items-center px-[20px]">
                        <div class="text-[25px]"><%- product.altName %></div>
                        <div class="w-full bg-black h-[2px] mx-[10px]"></div>
                        <a href="/browse/get?category=<%- product.catName %>"><button class="text-[20px] bg-red-700 hover:bg-red-800 py-[5px] px-[20px] text-white">Browse</button></a>
                    </div>
                    <div class="flex flex-row w-full items-center" id="prodsrow">
                        <% if (product.data.length > 6) { %>
                            <button class="w-[35px] h-[35px] bg-[#eeeeee] hover:bg-[#d4d4d4] p-[5px] rounded-full flex justify-center items-center" id="leftbtn" value="<%- product.catName %>" onmousedown="hold(this.value, this.id)" onmouseup="notHolding()">
                                <img src="/images/home/arrow2.png" alt="arrow" class="-scale-x-100" draggable="false">
                            </button>
                        <% } %>
                        <div class="w-full flex flex-row overflow-x-scroll scrollbar-none mx-[10px] my-[10px]" id="<%- product.catName %>">
                            <% product.data.forEach(data => { %>
                                <a href="/item?id=<%- data.product_id %>" class="mr-[20px] p-[10px]">
                                    <div class="w-[250px] h-[370px] bg-white rounded-lg cursor-pointer flex flex-col items-center overflow-hidden shadow-md shadow-gray-400" id="prodof<%- data.product_id %>" onmouseover="styleProdText(this.id)" onmouseleave="removeProdTextStyle(this.id)">
                                        <div class="w-[230px] h-[230px] p-[5px]">
                                            <div class="w-full h-full p-[10px] bg-white flex justify-center items-center rounded-lg">
                                                <img src="<%- data.product_image %>" alt="<%- data.product_name %>" class="w-full">
                                            </div>
                                        </div>
                                        <div class="flex flex-col px-[10px] font-bold">
                                            <div class="line-clamp-2" id="prodName"><%- data.product_name %></div>
                                            <div class="mt-[5px] text-gray-500">&#8377;<%- data.unit_price %></div>
                                            <% if (data.total_stock > 5) { %>
                                                <div class="text-green-600">Instock</div>
                                            <% } else if (data.total_stock > 0) { %>
                                                <div class="text-orange-600">Stock Left: <%= data.total_stock%></div>
                                            <% } else { %>
                                                <div class="text-red-600">Out of Stock</div>
                                            <% } %>
                                            <div class="text-slate-700 italic">Sold by <%= data.organization_name%></div>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                        </div>
                        <% if (product.data.length > 6) { %>
                            <button class="w-[35px] h-[35px] bg-[#eeeeee] hover:bg-[#d4d4d4] p-[5px] rounded-full flex justify-center items-center" id="rightbtn" value="<%- product.catName %>" onmousedown="hold(this.value, this.id)" onmouseup="notHolding()">
                                <img src="/images/home/arrow2.png" alt="arrow">
                            </button>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>