<main class="w-full p-[20px] flex flex-col">
    <% data.forEach(element => { %>
        <div class="flex flex-row h-[350px]">
            <div class="w-[300px]">
                <div class="w-[300px] h-[240px] overflow-scroll overflow-x-hidden scrollbar-thin scrollbar-thumb-red-700 scrollbar-thumb-rounded-full scrollbar-track-[#0f0f0f]">
                    <% element.product_image.forEach(image => { %>
                        <img src="<%= image%>" class="shadow-md shadow-black rounded-lg w-full h-full p-[1px]">
                    <% }) %>
                </div>
                <div class="text-white">
                    <form action="/additemtocart" method="post">
                        <input type="hidden" name="itemId" value="<%- id %>">
                        <div class="flex flex-row items-center shadow-sm shadow-black w-full mt-[20px]">
                            <input type="text" class="w-full py-[10px] h-[40px] bg-[#1F1E1E] outline-none text-center" name="quantity" value="0" id="quantity" readonly>
                            <button type="button" class="bg-red-700 hover:bg-red-800 w-fit h-[40px] px-[20px] py-[10px] flex items-center border-[1px] border-red-900" id="quantminus">-</button>
                            <button type="button" class="bg-red-700 hover:bg-red-800 w-fit h-[40px] px-[20px] py-[10px] flex items-center border-[1px] border-red-900" id="quantadd">+</button>
                        </div>
                        <button type="submit" id="submitbtn" class="mt-[10px] bg-red-700 hover:bg-red-800 w-full h-[40px] px-[20px] py-[10px] flex items-center justify-center shadow-sm shadow-black" disabled>Add to Card</button>
                    </form>
                </div>
            </div>
            <div class="w-full h-full bg-[#1F1E1E] shadow-md shadow-black p-[30px] ml-[20px]">
                <div class="text-[20px] w-full text-white"><%= element.product_name %></div>
                <div class="text-gray-500 text-[20px] my-[20px]">Price : &#8377; <%= element.unit_price %></div>
                <input type="hidden" name="stock" id="stock" value="<%= element.total_stock %>">
                <% if(element.total_stock > 3) {%>
                    <div class="text-green-500">In stock</div>
                <%} else {%>
                    <div class="text-red-500">Stock left : <%= element.total_stock %></div>
                <%}%>
                <div class="text-gray-400 text-[15px]">Sold by <%= element.organization_name %></div>
            </div>
        </div>
        <div class="w-full text-white mt-[20px]">
            <div class="bg-[#1F1E1E] shadow-md shadow-black p-[10px] w-full flex flex-col">
                <div class="mb-[10px] pb-[10px] border-b-[1px] border-[#2d2a2a]"><h1 class="text-[20px]">Product Description</h1></div>
                <p class="text-[16px]"><%= element.product_description%></p>
            </div>
        </div>
    <% }) %>
</main>