<% if (locals.alert) { %>
    <span class="fixed top-0 bottom-0 left-0 right-0 bg-black opacity-50 h-[100vh] flex justify-center"></span>
    <span class="fixed top-[20px] left-[50%] translate-x-[-50%] bg-[#312f2f] h-fit w-fit text-[#c0bebe] shadow-lg shadow-black flex justify-center flex-col items-center">
        <% if (alert.length === 2) { %>
            <span class="w-[100%] text-[20px] text-center p-[30px] pb-[10px]"><%- alert[0] %></span>
            <span class="w-[100%] text-[20px] text-center p-[30px] pt-0"><%- alert[1] %></span>
        <% } else { %>
            <span class="w-[100%] text-[20px] text-center p-[30px]"><%- alert[0] %></span>
        <% } %>
    </span>
    <script>
        document.body.style.overflow = 'hidden'; setTimeout(() => {location.reload();}, 1000);
    </script>
<% } else if (locals.alertWithButton) { %>
    <span class="fixed top-0 bottom-0 left-0 right-0 bg-black opacity-50 h-[100vh] flex justify-center"></span>
    <span class="fixed top-[20px] left-[50%] translate-x-[-50%] bg-[#312f2f] h-fit w-fit text-[#c0bebe] shadow-lg shadow-black flex justify-center flex-col items-center">
        <% if (alertWithButton.length === 2) { %>
            <span class="w-[100%] text-[20px] text-center p-[30px] pb-[10px]"><%- alertWithButton[0] %></span>
            <span class="w-[100%] text-[20px] text-center p-[30px] pt-0"><%- alertWithButton[1] %></span>
            <button class="bg-red-700 hover:bg-red-800 w-fit my-[20px] px-[10px] h-[40px]" type="button" onclick="closePopup()">Close</button>
        <% } else { %>
            <span class="w-[100%] text-[20px] text-center p-[30px]"><%- alertWithButton[0] %></span>
            <button class="bg-red-700 hover:bg-red-800 w-fit mb-[20px] px-[15px] py-[5px] h-fit" type="button" onclick="closePopup()">Close</button>
        <% } %>
    </span>
    <script>
        document.body.style.overflow = 'hidden'; function closePopup(){location.reload();}
    </script>
<% } else if (locals.logout) { %>
    <span class="fixed top-0 bottom-0 left-0 right-0 bg-black opacity-50 h-[100vh] flex justify-center"></span>
    <span class="fixed top-[20px] left-[50%] translate-x-[-50%] bg-[#312f2f] h-fit w-fit text-[#c0bebe] shadow-lg shadow-black flex justify-center flex-col items-center">
        <span class="w-[100%] text-[20px] text-center p-[30px] pb-[10px]">Want to log out?</span>
        <span class="w-[100] flex flex-row my-[20px]">
            <button class="bg-red-700 hover:bg-red-800 w-fit px-[15px] py-[5px] mr-[10px] h-fit" type="button" onclick="closePopup()">Close</button>
            <button class="bg-red-700 hover:bg-red-800 w-fit px-[10px] py-[5px] h-fit" type="button"><a href="<%- logout %>">Logout</a></button>
        </span>
    </span>
    <script>
        document.body.style.overflow = 'hidden'; function closePopup(){location.reload();}
    </script>
<% } %>